<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% if title %}
    <title>{{ title }} - {{ settings.sitename }}</title>
  {% else %}
    <title>{{ settings.sitename }}</title>
  {% endif %}

  {% if description %}
    <meta name="description" content="{{ description }}">
  {% else %}
    <meta name="description" content="{{ settings.description }}">
  {% endif %}

  <link href="https://unpkg.com/@csstools/normalize.css" rel="stylesheet" />
  <link href="/styles/base.css" rel="stylesheet" />

  {% if style %}
    <link href="/styles/{{ style }}.css" rel="stylesheet" />
  {% endif %}

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>
<body>
  <header {% if banner %}style="background-image: url('{{ settings.banner }}')"{% endif %}>
    <h1 id="site-title">{{ settings.sitename }}</h1>
  </header>
    {% block layout %}
    {% endblock %}
  <footer>
    <small>© 2022</small>
  </footer>
</body>
</html>