<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Situs</title>
  <link href="https://unpkg.com/@csstools/normalize.css" rel="stylesheet" />
  <link href="/styles/base.css" rel="stylesheet" />
  {% if style %}
  <link href="/styles/{{ style }}.css" rel="stylesheet" />
  {% endif %}
</head>
<body>
  <header>
    <h1 id="site-title">Fusce Euismod Neque</h1>
    <nav>
      <ul>
        <li><a href="/">Lorem</a></li>
        <li><a href="/ipsum">Ipsum</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {% block layout %}
    {% endblock %}
  </main>
</body>
</html>