---
style: post
---
{% extends "base.njk" %}
{% block layout %}
  <h2 id="story-title">{{title}}</h2>
  <p id="story-time">
    <time  datetime="{{ date.toISOString() }}">
      {{ date.toLocaleDateString('id-ID', { dateStyle: 'full', timeZone: 'Asia/Jakarta' }) }}
    </time>
  </p>
  <div id="story-body">
    {{ content | safe }}
  </div>
{% endblock %}
