---
style: story-gallery
---
{% extends "base.njk" %}
{% block layout %}
  <h2>{{title}}</h2>
  <ol>
  {% for story in collections[stories] %}
    <li><a class="story-title" href="{{ story.url }}">{{ story.data.title }}</a></li>
  {% endfor %}
  </ol>
  {{ content | safe }}
{% endblock %}
