---
style: story-gallery
---
{% extends "base.njk" %}
{% block layout %}
  <main>
    <div id="stories">
      {% for story in stories %}
        <arcticle class="story">
          <a class="story-link" href="{{ story.url }}">
            <h3 class="story-title">{{ story.data.title }}</h3>
            <p class="story-description">{{ story.data.description }}</p>
            <time datetime="{{ story.date.toISOString() }}">
              {{ story.date.toLocaleDateString('id-ID', { dateStyle: 'full', timeZone: 'Asia/Jakarta' }) }}
            </time>
          </a>
        </arcticle>
      {% endfor %}
    </div>
  </main>
  {% if pagination.href.previous or pagination.href.next %}
    <nav id="pagination" aria-label="Pagination">
      <ul>
        {% if pagination.href.previous %}
          <li><a href="{{ pagination.href.previous }}" aria-label="Previous page"><span aria-hidden="true">&lt;&lt;</span>Previous</a></li>
        {% endif %}

        <li id="current-page-number" aria-label="Current page, page {{ pagination.pageNumber + 1 }}">Page {{ pagination.pageNumber + 1 }}</li>

        {% if pagination.href.next %}
          <li><a href="{{ pagination.href.next }}" aria-label="Next page">Next<span aria-hidden="true">&gt;&gt;</span></a></li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
{% endblock %}
