:root {
  --color-base: #f8f8f8;
  --color-neutral: #0b1b1e;
  --color-primary: #786534;
  --color-accent: #ffe416;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-base: #0b1b1e;
    --color-neutral: #f8f8f8;
    --color-primary: #f3dfb4;
   --color-accent: #770000;
  }
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-neutral);
  background-color: var(--color-base);
  margin: 0;
  min-height: 100vh;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--color-primary);
}

header {
  width: 100%;
}

#site-title {
  color: var(--color-primary);
  font-weight: normal;
  text-align: center;
  margin: 0;
  padding: 1em 0;
}

main {
  flex-grow: 1;
}

footer {
  padding: 1em 0 1em 0;
  color: var(--color-primary);
}