:root {
  --color-base: #f8f8f8;
  --color-neutral: #0b1b1e;
  --color-primary: #786534;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-base: #0b1b1e;
    --color-neutral: #f8f8f8;
    --color-primary: #f3dfb4;
  }
}

body {
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  color: var(--color-primary);
  background-color: var(--color-base);
}

a {
  color: var(--color-primary);
}

a:visited {
  color: var(--color-primary);
}

#site-title {
  text-align: center;
}

#site-title a {
  text-decoration: none;
}

nav ul {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 1em;
}
