body {
  align-items: center;
}

main {
  width: 90%;
  max-width: 1600;
  color: var(--color-neutral);
}

#story-title {
  margin: 2em 0 1em 0;
  text-align: center;
  font-size: 2em;
}

#story-time {
  text-align: center;
  margin-bottom: 6em;
  color: var(--color-primary);
}

#story-body {
  max-width: 80ch;
  margin: 0 auto;
  line-height: 2;
  font-size: 1.25em;
}

#story-body p {
  margin: 1.5em 0;
}
