body {
  align-items: center;
}

main {
  width: 90%;
  max-width: 1600;
  color: var(--color-neutral);
}

#story-header {
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
}

#story-title {
  margin: 2em 0 1em 0;
  font-size: 2em;
  max-width: 80ch;
  text-align: center;
}

#story-time {
  margin-bottom: 3em;
  display: inline-block;
}

#story-description {
  margin-bottom: 3em;
  font-style: italic;
  max-width: 80ch;
}

#story-body {
  max-width: 80ch;
  margin: 0 auto;
  line-height: 2;
  font-size: 1.25em;
}

#story-body p {
  margin: 1.5em 0;
}

#story-body img {
  display: block;
  margin: auto;
  max-width: 100%;
}
