main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#page-title {
  margin: 2em 0 3em 0;
  color: var(--color-primary);
  font-weight: normal;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
}

ol li {
  width: 350px;
  margin: 2em;
}

.story-link {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.story-title {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--color-neutral);
}
