header {
  height: 65vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#site-title {
  background-color: var(--color-base-semi);
  position: fixed;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

#page-title {
  margin: 2em 0 3em 0;
  color: var(--color-primary);
  font-weight: normal;
}

#stories {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1200px;
}

.story {
  width: 350px;
  margin: 2em;
}

.story-title {
  font-size: 1.5em;
  font-weight: bold;
}

.story-description {
  color: var(--color-neutral);
  line-height: 1.5;
}

.story time {
  color: var(--color-primary);
}

#pagination {
  width: 90%;
  max-width: 1200px;
  margin-top: 4em;
  font-weight: bold;
}

#pagination ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

#pagination a {
  text-decoration: underline;
}

#current-page-number {
  font-weight: normal;
  color: var(--color-primary);
}

footer {
  margin-top: 4em;
}