---
layout: story-gallery
description: Curabitur faucibus semper tortor, ac.
pagination:
  data: collections.pos
  size: 10
  reverse: true
  alias: stories
  generatePageOnEmptyData: true
permalink: "/{% if pagination.pageNumber > 0 %}lorem/{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
banner: true
---
{% if pagination.pageNumber === 0 %}
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script type="module" src="../scripts/beranda.js"></script>
{% endif %}