---
layout: story-gallery
permalink: "/"
stories: all
---
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script type="module" src="../scripts/beranda.js"></script>
